<html>
	<head>
		<title>${Title}</title>
		<meta name="oben" content="no-cache">
	</head>
	<body style="margin:0px;padding:0px;">
		<center>
			${Links}
		</center>
		<iframe src="${Link}" scrolling="yes" frameborder="no" align="center" height="97%" width="100%">
		</iframe>
	</body>
</html>
